.child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: 100%;
}

button {
  width: 80%;
  height: 25%;
}

mat-form-field {
  width: 80%;
}

hr {
  width: 100%;
}

div {
  color: red;
}
